{% extends 'base.html' %}

{% block title %}Список заказов{% endblock %}

{% block content %} 
<div class="search">
<form action="sendText" method="post" enctype="multipart/form-data" class="line_s">
    {% csrf_token %}
    <input name="text" type="text" class= "form">
    <input type="submit" class = "btn_search" style="vertical-align: 0.5px;" value="Поиск">
  </form>
</div>
<ul>
     {% for vacancy in data.vacancies %}
       {% include 'vacancy_element.html' with element=vacancy %}
    {% empty %}
        <li>Список пуст</li>
    {% endfor %}
</ul>
{% endblock %}