{% extends 'base.html' %}

{% block title %}Список заказов{% endblock %}

{% block content %} 
<div class="search">
<form method="get" action="{% url 'vacancies' %}" enctype="multipart/form-data" class="line_s">
    {% csrf_token %}
    <input name="keyword" type="text" class= "form" placeholder="Введите вакансию" value="{{ search_query }}"">
    <input type="submit" class = "btn_search" style="vertical-align: 0.5px;" value="Поиск">
  </form>
</div>
<ul>
     {% for vacancy in data.vacancies %}
       {% include 'vacancy_element.html' with element=vacancy %}
    {% empty %}
        <p class="vacancy_card-text">К сожалению, по вашему запросу ничего не удалось найти</p>
    {% endfor %}
</ul>
{% endblock %}