{% extends 'base.html' %}

{% block title %}Информация о вакансии {{ data.vacancy.company }}{% endblock %}

{% block content %}
<div class="card vacancy_card">
    <div class="card-body">
      <h5 class="vacancy_text">{{ data.vacancy.title }}</h5>
      <p class="money" style="color: black;">{{ data.vacancy.salary }}<p>

      <p></p>
      <div class="card-text"> Требуемый опыт: {{ data.vacancy.exp }}</div>
      <div class="card-text"> {{ data.vacancy.time }}</div>
      <p></p>
      <button type="button" class="btn_apply vacancy_apply">Откликнуться</button>
    </div>
  </div>
  <div class="card vacancy_card">
    <div class="card-body">
        {% if data.vacancy.image %}
        <img src="{{ data.vacancy.image }}" class="img_card" alt="Картинка" >
        {% endif %}
       <div class="money">{{ data.vacancy.company }}</div>
       {% if  data.vacancy.city %}
            {% if  data.vacancy.adress %}
                <div class="card-text"><p>{{ data.vacancy.city }}, {{ data.vacancy.adress }}</p></div>
            {% else %}
                <div class="card-text"><p>{{ data.vacancy.city }}</p></div>
            {% endif %}
        {% endif %}
    </div>
  </div>
  <p class = "card-text vacancy_card-text column">{{data.vacancy.info}}</p>
  <p class = "card-text vacancy_card-text"><strong>Условия:</strong></p>
  {% for i in data.vacancy.conditions %}
    <p class = "card-text vacancy_card-text"> — {{i}}</p>
  {% empty %}
        <p class = "card-text vacancy_card-text">Условий нет</p>
        {% endfor %}
        <p class = "card-text vacancy_card-text"><strong>Требования:</strong></p>
    {% for i in data.vacancy.requirements %}
    <p class = "card-text vacancy_card-text"> — {{i}}</p>
  {% empty %}
        <p class = "card-text vacancy_card-text">Требований нет</p>
        {% endfor %}
    
{% endblock %}