.image {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.card{
    width: 60vw;
    background-color: rgb(255, 252, 252);
    margin-top: 20px;
    margin-left: auto;
    position: relative;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
  }

  .btn_apply {
    background-color: #32c86c;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-bottom: 10px;

    display: inline-block
  }
  
  .btn_apply:hover {
    background-color: #2aa458;
  }